# Esta versão é regerada a cada execução do teste
/testador/funcoeszz

# Arquivos temporários do testador
/testador/internet/*.out

# Arquivo temporário genérico
_tmp

# Arquivo do release, porém ainda na pasta de build
/release/funcoeszz-*.sh

# Estou trabalhando no site, não mexer por enquanto
/website/
