# Arquivos temporários do testador
/testador/internet/*.out
/testador/run.tmp
/testador/_tmp?

# Executável do testador
/testador/clitest

# Arquivo temporário genérico
_tmp

# Arquivo do release, porém ainda na pasta de build
/release/funcoeszz-*.sh

