# Arquivos temporários do testador
/testador/internet/*.out
/testador/run.tmp
/testador/_tmp?

# Arquivo temporário genérico
_tmp

# Arquivo do release, porém ainda na pasta de build
/release/funcoeszz-*.sh

# Estou trabalhando no site, não mexer por enquanto
/website/
